@model AgentMvc.ViewModel.MissionVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MissionVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.distance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeRemaind)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeRemaind)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
